<template name="manageuser">
	<div id="navbar" class="navbar navbar-default navbar-collapse h-navbar">	
		<div class="navbar-container" id="navbar-container">
			{{> navleft}} 
		</div>	
	</div>
		<div class="main-container">
				<div class="col-lg-4 col-lg-offset-1">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Add New User
                        </div>
                        <div class="panel-body">
							<form accept-charset="UTF-8" role="form">
							{{#if adduserError}}
                                <div class="alert alert-danger" style="padding:15px;" role="alert">
                                  <span style="display:inline-block" class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                  <span style="display:inline-block" class="sr-only">Error:</span>
                                {{adduserErrormsg}}
                                </div>
                    		{{/if}}
								<fieldset>
									<div class="form-group">
										<input type="text" class="form-control" id="fullname" placeholder="Full Name">
									</div>
								  <div class="form-group">
										<input type="text" class="form-control" id="username" placeholder="User Name">
								  </div>
								  <div class="form-group">
										<input type="email" class="form-control" id="email" placeholder="Email">
								  </div>
								  <div class="form-group">
										<input type="password" class="form-control" id="password" placeholder="Password">
								  </div>
								  <div class="form-group">
										<label>Role</label>
										<select name="language" id="role" class="form-control">
											<option value="" style="display:none">Select Role</option>
											<option value="Admin">Admin</option>
											<option value="Member">Memeber</option>
										</select>
								   </div>
									<div class="row">
										<div class="col-xs-4 col-sm-4">
											<div class="form-group">
												<input type="submit" value="Add User" id="adduser" class="btn btn-primary btn-block">
											</div>
										</div>
										<div class="col-xs-4 col-sm-4">
											<div class="form-group">
												<input type="submit" value="Close" id="close" class="btn btn-danger btn-block">
											</div>
										</div>
									</div>
								</fieldset>
							</form>
						</div>
			   	 </div>
			    </div>

			    <!-- Manage user list -->
				<div class="col-lg-6">
				<div class="widget-box">
					<div class="widget-title">
						<h2>List All Users</h2>
					</div>
					<div class="widget-container table-responsive">
						<table class="table table-hover table-striped order-table table-green">
							<thead>
								<tr>
									<th>First Name</th>
									<!-- <th>Last Name</th> -->
									<th>User Name</th>
									<th>Email</th>
									<th>Role</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								{{#each allUserlist}}
								<tr>
									<td>{{profile.fullname}}</td>
									<td>{{profile.username}}</td>
									{{#each emails}}
										<td>{{address}}</td>
									{{/each}}
									<td>{{roles.mygroup}}</td>
									<td>
										<a href="/admin/edituser/{{_id}}">
											<button class="btn btn-xs btn-success" type="button">
											<i class="glyphicon glyphicon-pencil"></i>Edit</button>
										</a>
											<button class="btn btn-xs btn-danger" type="button" id="remove">
											<i class="glyphicon glyphicon-remove"></i>Delete</button>
									</td>
									
								</tr>
								{{/each}}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		<!-- Eng manage user list -->
		</div>
</template>