<template name="updatearticle">
<div id="navbar" class="navbar navbar-default navbar-collapse h-navbar">
            
            <div class="navbar-container" id="navbar-container">
                {{> navleft}} 
            </div>  
        </div>
   <div class="container">
    
      <form class="form-horizontal" role="form" method="post">
      <h2> Update Article</h2>
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="name" name="name" placeholder="First & Last Name" value="{{fullname}}">
        </div>
    </div>
     <div class="form-group">
        <label for="title" class="col-sm-2 control-label">Title</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="title" name="title" value="{{title}}">
        </div>
    </div>
    <div class="form-group">
        <label for="url" class="col-sm-2 control-label">URL</label>
        <div class="col-sm-10">
            <input type="url" class="form-control" id="url" name="url" placeholder="http://www.abc.com" value="{{url}}">
        </div>
    </div>
    <div class="form-group">
        <label for="message" class="col-sm-2 control-label">Text</label>
        <div class="col-sm-10">
            <textarea class="form-control" rows="4" name="text" id="text" value="{{text}}"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
            <input id="updateart" name="submit" type="submit" value="Update" class="btn btn-primary">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
            <!-- Will be used to display an alert to the user -->
        </div>
    </div>
</form>
   </div>
</template>

